.search-wrap
{
    white-space: normal;
}

.color-black
{
    color: #000000;
}

.bgcolor-white
{
    background: #ffffff;
    border: 1px solid #cccccc;
}

.logo
{
    min-height: 67px;
    min-width: 170px;
}

.login_register
{
    background: #E4E4E3;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #808284;
    height: 23px;
    top: 0;
    position: absolute;
    right: 0;
    /*width: 191px;*/
}

.login_register ul
{
    list-style: none;
    font-family: 'HelveticaRegular';
    font-size: 10px;
    margin: 0;
}

.login_register ul li
{
    position: relative;
    display: inline-block;
    font-weight: bold;
    /* padding-top: 1px; */
    height: 23px;
    /* line-height: 0px; */
    border-right: 1px solid #808284;
}

.login_register ul li:last-child{
    border-right: none;
}

.login_register ul li a
{
    color: #000000;
    text-decoration: none;
    line-height: 22px;
    color: #414042;
    font-size: 8pt;
    font-weight: 100;
    padding: 0 15px 0 10px;
}
.login_register ul li a span
{
    float: left;
    padding-left: 40px;
}

.login_register ul li a:hover
{
    color: #f16325;
    cursor: pointer;
}
.bar-reglog{
    /*position: relative;*/
}
.promo-howto{
    position: relative;
    top:30px;
}
.margin14
{
    margin-top: 14px;
}



.how-to-foot
{
    width: 75px;
    height: 32px;
}

.item-to-foot
{
    width: 75px;
    height: 25px;
}

.hotline-button
{
    width: 114px;
    height: 30px;
}

.ym-button
{
    width: 114px;
    height: 30px;
    display: none;
}

.border-bottom
{
    border-bottom: 2px solid #B51D8D;
}

.container-padding
{
    padding: 0 10px 0 10px;
}

.inner-menu
{
    width: 180px;
    padding: 0 25px 60px 0;
}

.navbar .nav .dropdown-frame .img-cat
{
    background: #ffffff;
}
.container-baru
{
    width: 100%;
}
.judul-kategori
{
    padding: 18px 0px 0 0px;
    border-bottom: 1px solid #808285;
    width: 170px;
}

.text-kategori
{
    font-family: helvetica;
    color: #231F20;
    font-size: 12pt;
    display: inline-block;
    padding: 0 10px 0 15px;
    text-transform : capitalize;
    font-weight: bold;
}

.cart-icon
{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.img-cat{
    width: 475px;
    height: auto;
    display:block;
    float: right;
}

footer p
{
    text-align: center;
    margin: 0;
    color: #ffffff;
}

footer .bottom_foot
{
    background: #211C1C;
    padding: 40px 0;
}

.white
{
    color: #ffffff !important;
}

.contactInfo .infoContact
{
    text-align: left;
    padding: 0 4px 0 0;
}

.foot-button
{
    width: 100%;
}

.foot-button .foot-button-top
{
    width: 199px;
    margin: 0 auto 20px;
    padding-left: 25px;
}

.foot-button .foot-button-bottom
{
    background-color: #D1D3D4;
    margin: 20px auto 0;
    text-align: center;
    width: 90%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.foot-button .foot-button-bottom .btn-group{
    padding:8px;
}
.foot-button .foot-button-bottom .btn-group div{
    color: #27AAE1;
    font-size: 7pt;
    text-transform: uppercase;
    font-family: 'HelveticaRegular';
    position: relative;
    top:-4px;
}

.cart-icon
{
    height: 25px;
    width: 30px;
}

.ym-drop
{
    z-index: 2000;
    position: fixed;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 40px;
}
.ym-drop .wrap{
    position: relative;
}
.ym-drop .tool{
    position: absolute;
    width: 15px;
    height: 10px;
    bottom: -9px;
    right: 10px;
}
.ym-drop ul
{
    background-color: #FCEDF4;
    border: 1px solid #b800b6;
    border-radius: 5px;
    list-style: none;
    margin: 0;
}

.ym-drop ul li:first-child
{
    border-top: none;
}

.ym-drop ul li:last-child
{
    border-bottom: none;
}

.ym-drop ul li
{
    margin: 0;
    padding: 10px 25px;
    color: #000;
    border-bottom: 1px dashed #61004E;
}

.ym-drop ul li a
{
    color: #61004E;
    white-space: nowrap;
    padding: 0 !important;
    display: block;
    font-size: 14px;
    text-decoration: none;
}

.ym-drop ul li a:hover
{
    text-shadow:0 0 4px #61004E;
}

.ym-on
{
    width: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

#ymbottom{
    position: fixed;
    z-index: 2000;
    right: 0;
    bottom: 0;
    cursor: pointer;

}
#ymbottom .ymup{
    margin-left: -10px;
}

.search-conitso
{
    text-align: right;
    width: 339px;
}
.slide-conitso
{
    padding: 5px 0 10px 0;
    background: none;
}

.best-conitso
{
    background: #cccccc;
    -moz-box-shadow: inset  0  10px 7px -5px rgba(0,0,0,0.45),
        inset  0 -10px 7px -5px rgba(0,0,0,0.45);
    -webkit-box-shadow: inset  0  10px 7px -5px rgba(0,0,0,0.45),
        inset  0 -10px 7px -5px rgba(0,0,0,0.45);
    box-shadow: inset  0  10px 7px -5px rgba(0,0,0,0.45),
        inset  0 -10px 7px -5px rgba(0,0,0,0.45);
    position: relative;
    z-index: 1;
    background: url('images/pattern.jpg') 0 0px repeat-x;
    height:283px;
}

.best-conitso .container{

    padding: 35px 0;
}



.similar-conitso
{
    background: url('../img/similar-bg.jpg') 0 0px no-repeat;
    padding: 35px 0;
    background-size: 100% 100%;
    -moz-box-shadow: inset  0  10px 7px -5px rgba(0,0,0,0.45),
        inset  0 -10px 7px -5px rgba(0,0,0,0.45);
    -webkit-box-shadow: inset  0  10px 7px -5px rgba(0,0,0,0.45),
        inset  0 -10px 7px -5px rgba(0,0,0,0.45);
    box-shadow: inset  0  10px 7px -5px rgba(0,0,0,0.45),
        inset  0 -10px 7px -5px rgba(0,0,0,0.45);
    position: relative;
    z-index: 1;
}

.similar-button-field
{
    background: url('../img/similar-bar.png') no-repeat;
    position: relative;
    z-index: 2;
    min-height: 56px;
    width: 287px;
    top: -55px;
    left: 12px;
    margin: 0 auto;
}

.similar-button-field .similar-button
{
    background-image: url('../img/similar-btn.png');
    background-size: 234px auto;
    position: relative;
    z-index: 4;
    top: -12px;
    left: 2px;
    width: 225px;
    height: 35px;
    padding: 5px;
    padding-top: 15px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}

.similar-button-field .similar-button a
{
    font-family: helvetica;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
}

.hot-conitso
{
    background: url('../img/hot-bg.jpg') 0 0px no-repeat;
    padding: 35px 0;
    background-size: 100% 100%;
    -moz-box-shadow: inset  0  10px 7px -5px rgba(0,0,0,0.45),
        inset  0 -10px 7px -5px rgba(0,0,0,0.45);
    -webkit-box-shadow: inset  0  10px 7px -5px rgba(0,0,0,0.45),
        inset  0 -10px 7px -5px rgba(0,0,0,0.45);
    box-shadow: inset  0  10px 7px -5px rgba(0,0,0,0.45),
        inset  0 -10px 7px -5px rgba(0,0,0,0.45);
    position: relative;
    z-index: 1;
}

#hot-item
{
    margin-top: 0px;
}

.hot-product
{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}
h
.hot-product li
{
    margin-top: 0px;
}

.hot-product .thumbnail
{
    display: block;
    padding: 0px;
    border: none;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hot-product .thumbnail img
{
    min-width: 73%;
}

.best-button-field
{
    background: url('../img/best-bar.png') 0 0px no-repeat;
    position: relative;
    z-index: 2;
    min-height: 45px;
    width: 284px;
    margin: 0 auto;
}

.best-button-field .best-button
{
    background-image: url('../img/best_seller_button.png');
    background-size: 231px auto;
    background-repeat:no-repeat;
    position: relative;
    z-index: 3;
    top: 12px;
    width: 231px;
    height: 46px;
    padding-top: 15px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    left: 3px;
}

.best-button-field .best-button a
{
    font-family: helvetica;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
}

.hot-button-field
{
    background: url('../img/hot-bar.png') 0 0px no-repeat;
    position: relative;
    z-index: 2;
    min-height: 45px;
    width: 287px;
    top: -36px;
    left: 12px;
    margin: 0 auto;
}

.hot-button-field .hot-button
{
    background-image: url('../img/hot-product-btn.png');
    background-size: 235px auto;
    position: relative;
    z-index: 4;
    top: -12px;
    left: 2px;
    width: 225px;
    height: 27px;
    padding: 5px;
    padding-top: 15px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}

.hot-button-field .hot-button a
{
    font-family: helvetica;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
}

.body-conitso
{
    background: #EBEBEC;
    -webkit-box-shadow: 0px 10px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 11px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 11px -5px rgba(0,0,0,0.75);
}

.help-inline > p, .help-inline > i
{
    display: inline-block;
    margin: 0;
    color: #b94a48;
}

#box
{
    position: absolute;
    z-index: 101;
    background-color: #E8E8E7;
    border:2px solid #58595B;
    display: none;
    border-radius:4px;
    margin-top:10px;
    right: 0;
}
#box:before{
    border-bottom: 15px solid;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 25px;
    top: -15px;	
}
#box .login_box
{
    position: relative;
    right: 0px;
    width: 266px;
    margin: 0 auto;
    z-index: 1002;
    overflow: hidden;
    padding: 0px 0 0!important;
}

#box .login_box > li
{
    margin: 0!important;
    clear: both;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-style: normal;
    display: block;
    height: auto !important;
    padding: 0;
}
#box .login_box form{
    margin: 0;
}
#box .login_box .logform{
    padding: 10px 16px;
}
#box .login_box .logform .username{
    width: 220px;
}
#box .login_box form .path{
    border-top: 1px dotted #6D6E71;
    display:block;
    padding: 8px 16px;
}
#box .login_box .wrap input{
    width: auto;
    margin: 0;
}
#box .login_box .wrap button{
    float: right;
    width: 80px;
}
#box .login_box .newuser{
    display: block;
    font-size: 9pt;
    color: #58595B;
}
#box .login_box .forgotpass{
    font-size: 9pt;
    color: #4685C1;
    font-weight: 100;
}
#box .login_box .regnow{
    color: #FFFFFF;
    display: block;
    font-size: 10pt;
    margin-bottom: 4px;
    margin-top: 8px;
    text-transform: uppercase;
}


#ym
{
    cursor: pointer;
}

#crumbs
{
    text-align: center;
    height: 32px;
    background: #ECEDEE;
    border: 1px solid #D1D2D4;
    margin-bottom: 10px;

    margin-top: 0px;
}

#crumbs ul
{
    list-style: none;
    display: inline-table;
    margin: 0;
    width: 100%;
}
#crumbs ul li
{
    display: inline;
}

#crumbs ul li a
{
    display: block;
    float: left;
    height: 32px;
    background: #ECEDEE;
    width: auto;
    position: relative;
    margin: 0 1px 0 0;
    padding: 0 5px 0 25px;
    line-height: 2.8em;
    font-size: 12px;
    text-decoration: none;
    color: #505050;
    font-family: myriad pro;
    text-transform: uppercase;
}
#crumbs ul li a:after
{
    content: "";
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid #ECEDEE;
    position: absolute;
    right: -16px;
    top: 0;
    z-index: 1;
}

#crumbs ul li a:before
{
    content: "";
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid #FFFFFF;
    position: absolute;
    left: 0;
    top: 0;
}

#crumbs ul li:first-child a
{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#crumbs ul li:first-child a:before
{
    display: none;
}

#crumbs ul li:last-child a
{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
#crumbs ul li:last-child a:after
{
    display: none;
}
#crumbs ul li a.active
{
    color: #f16325;
}
#crumbs ul li a.next
{
    cursor: not-allowed;
    pointer-events: none;
}

#crumbs ul li a:hover:after
{
}

#short_by_price
{
    background: none repeat scroll 0 0 #E5E5E5;
    height: 32px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
}

#short_by_price ul
{
    list-style: none;
    display: inline-table;
    margin: 0;
    width: 100%;
}
#short_by_price ul li
{
    display: inline;
}

#short_by_price ul li a
{
    display: block;
    float: left;
    height: 32px;
    width: auto;
    position: relative;
    width: 19%;
    line-height: 2.3em;
    font-size: 15px;
    text-decoration: none;
    color: #505050;
    font-family: myriad pro;
    border-right: 1px solid #cccccc;
}

#short_by_price ul li:first-child a
{
    background: #CCCCCC;
    border: none;
    width: 206px;
}

#short_by_price ul li:last-child a
{
    border: none;
}

#short_by_price ul li a:hover
{
    background: #CCCCCC;
}

.product-name
{
    color: #1C75BC;
    font-family: Myriad Pro;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 22px;
    padding: 10px 25px;
    -webkit-box-shadow: 0 10px 25px -16px rgba(133,133,133,1);
    -moz-box-shadow: 0 10px 25px -16px rgba(133,133,133,1);
    box-shadow: 0 10px 25px -16px rgba(133,133,133,1);
}

.product-spek
{
    color: #4C4C4C;
    font-family: 'HelveticaRegular';
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px dotted #4c4c4c;
}

.unit
{
    width: auto !important;
}

.unit_input
{
    margin-left: 34px !important;
}

.unit_btn
{
    padding: 0 18px 10px 18px;
    width: 94px;
}

.unit_form
{
    padding: 0 0px 10px 18px;
    border-bottom: 1px dotted #4c4c4c;
}

.product-set .unit_btn input{
    font-size: 10pt;
}

.product-price
{
    font-family: 'HelveticaRegular';
    margin-top: 58px;
}

.product-info
{
    background: #F2F2F2;
    margin-top: 20px;
}
.product-info h3{
    font-family: 'HelveticaRegular';
    color: #2BB673;
    font-size: 12pt;
    margin-bottom: 2px;

}
.product-info h3 span{
    color: #1C75BC;
}
.product-info p{
    line-height: 18px;
    font-family: 'HelveticaRegular';
    font-size: 10pt;
}

.product-details
{
    margin-bottom: 50px;
}

.product-details .bx-wrapper{
    border: 2px solid #E6E7E8;

    margin: 0 4px;
}
.product-details .bx-wrapper li{
    margin-left: -19px;
}
.product-details #bx-pager{
    margin-right: 0 !important; 
    margin-left: 4px !important; 

}
.product-details #bx-pager img{
    border: 2px solid #E6E7E8;	
}

.spek_detail
{
    padding: 20px;
    margin-bottom: 50px;
}

table.bottomBorder
{
    border-collapse: collapse;
    width: 100%;
}
table.bottomBorder td, table.bottomBorder th
{
    border-bottom: 1px dotted #777777;
    padding: 5px;
    font-family: 'HelveticaRegular';
    font-size: 10pt;
}
.spek_detail table td:first-child{
    color: #000;
}

.shipping-table
{
    width: 300px;
}

.shipping-table td
{
    padding: 5px;
}

.cart-form
{
    padding-bottom: 20px;
    margin: 0;
    border-bottom: 1px solid #ededed;
}

.cart
{
    position: relative;
    padding-bottom: 30px;
    /* margin-bottom: 20px; */
    width: 100%;
}

.cart .cart-img
{
    position: absolute;
}

.cart .cart-img img
{
    -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #e0e0e0;
}

.cart .cart-desc
{
    padding-left: 110px;
    min-height: 45px;
}

.cart-qty input[type="number"]
{
    margin-bottom: 5px;
}

.cart .cart-desc .cart-line
{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
}

.cart .cart-desc .cart-line .cart-name
{
    width: 210px;
}

.cart .cart-desc .cart-line .cart-name h2
{
    color: #00A0C6;
}

.line_cart
{
    border-bottom: 1px solid #ededed;
}

.cart-remove
{
    color: red;
}

.cart-remove a
{
    color: red;
}

.cart-title
{
    padding: 10px 0;
}

#qty_input
{
    height: 15px;
    margin-bottom: 2px;
    width: 33px;
}

.cart-receipt
{
    background: #ededed;
    padding: 15px;
}

.cart-receipt h4
{
    text-align: center;
}

.tab-content
{
    background: #ffffff;
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    padding: 10px;
}

.shipping-detail .detail-line
{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
}

.shipping-info
{
    background: #B2CDF9;
    margin-top: 2px;
    border-radius: 2px;
    padding: 5px 20px 5px 20px;
    margin-bottom: 10px
}

.shipping-box
{
    border-bottom: 1px solid #ededed;
    padding: 10px 0;
}
.payment-box
{
    padding: 10px 0px;
}

.shipping-method .shipping-detail
{
    padding: 0 20px;
}

.payment-method .payment-detail
{
    padding: 10px 20px;
    border-bottom: 1px dotted #666666;
}

.payment-method .payment-detail .payment-logo img
{
    min-height: 37px;
    max-height: 37px;
    min-width: 120px;
    max-width: 120px;
    float: left;
    margin-right: 40px;
}

/* FORM SHIPPING */

.form-shipping .control-group
{
    margin-bottom: 5px;
}

.form-shipping .control-label
{
    width: auto;
    color: #777;
    float: left;
    padding-top: 5px;
    text-align: left;
}

.form-shipping .controls
{
    margin-left: 100px;
}

.form-shipping .controls input[type="text"], .form-shipping .controls select, .form-shipping .controls textarea
{
    background: #EAEAEA;
    margin: 0;
    width: 185px;
}

/* FORM USER INFO */

.form_user .control-group
{
    margin-bottom: 5px;
}

.form_user .control-label
{
    width: auto;
    color: #777;
    float: left;
    padding-top: 5px;
    text-align: left;
}

.form_user .controls
{
    margin-left: 115px;
}

.form_user .controls input[type="text"], .form_user .controls input[type="password"], .form_user .controls select, .form_user .controls textarea
{
    background: #EAEAEA;
    margin: 0;
}

.emptyCartWrapper
{
    margin: 60px auto;
    width: 600px;
    max-width: 100%;
}

.emptyCartWrapper h2
{
    font-size: 22px;
    margin: 0 0 20px;
    text-transform: none;
}

.emptyCartWrapper .emptyCartOpt li
{
    color: #777;
    font-size: 14px;
    line-height: 40px;
}

.emptyCartWrapper .emptyCartOpt li a
{
    padding: 6px 23px 6px 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.emptyCartWrapper .emptyCartState
{
    background: #eee url(../img/bigCart.png) center 40px no-repeat;
    border-radius: 200px;
    width: 205px;
    height: 205px;
    float: left;
    margin-top: 13px;
}

.center
{
    text-align: center!important;
    margin: auto;
    padding: 10px;
}

.separator
{
    margin: 30px 0;
    text-align: center;
    height: 1px;
    background: -webkit-linear-gradient(left,#fff 10%,#ddd,#fff 90%);
    background: -webkit-gradient(linear,top left,top right,from(#fff),color-stop(#ddd),to(#fff));
    background: -webkit-linear-gradient(left,#fff 10%,#ddd,#fff 90%);
    background: linear-gradient(to right,#fff 10%,#ddd,#fff 90%);
    position: relative;
}

a.link
{
    color: #09f;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.separator span
{
    position: relative;
    top: -10px;
    padding: 0 15px;
    color: #8d7a7a;
    font-size: 14px;
    background: #ededed;
}

.cart-thanks
{
    text-align: left;
    background: #ededed;
    padding: 30px;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0px 16px 15px -15px rgba(189,189,189,1),
        inset 0px -16px 15px -15px rgba(189,189,189,1);
    -moz-box-shadow: inset 0px 16px 15px -15px rgba(189,189,189,1),
        inset 0px -16px 15px -15px rgba(189,189,189,1);
    box-shadow: inset 0px 16px 15px -15px rgba(189,189,189,1),
        inset 0px -16px 15px -15px rgba(189,189,189,1);
}

.cart-thanks h3
{
    color: red;
}

.hot-produk img
{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.hot-product .bx-prev{
    left: -40px !important;
    background: url("images/previco.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;

}
.hot-product .bx-next{
    right: -40px !important;
    background: url("images/nextico.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

.hot-product .bx-controls-direction a{
    height: 35px !important;
}

.hot-product .bx-pager{
    display: none;
}

.daftar_list_item{
    list-style: none;
    margin: 0;
    padding: 0;
}
.daftar_list_item li {
    margin-bottom: 20px;
    min-height: 1px;
    /* margin-left: 20px; */
}
.daftar_list_item .thumbnail {
    /* max-width: 100%; */
    padding: 0px;
    border: 1px solid #e0e0e0;
    float: left;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.1);
    position: relative;
    width: 140px;
    height: 111px;
}
.daftar_list_item .thumbnail img {
    width: 140px;
    height: 111px;
}

.daftar_list_item .thumbnail .labeldisc {
    background-image: url("images/labeldisclist.png");
    background-repeat: no-repeat;
    height: 64px;
    left: 12px;
    line-height: 55px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
}
.daftar_list_item .thumbnail .labeldisc span {
    color: #FFFFFF;
    display: inline-block;
    font-size: 10pt;
    line-height: normal;
    transform: rotate(-45deg);
    vertical-align: middle;
}

.daftar_list_item .thumbSetting {
    /* max-height: 137px; */
    /* min-height: 137px; */
    background: #F7F7F7;
    border: 1px solid rgba(226, 226, 226, 0.24);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.1);
    width: 456px;
    /* height: 110px; */
}
.daftar_list_item .thumbSetting div {
    margin-top: 0px;
}
.daftar_list_item .thumbSetting .button {
    margin: 28px 0px;
}
.daftar_list_item .thumbSetting .thumbTitle{
    width: 170px;
    color: #F7931D;
    margin-right: 10px
}
.daftar_list_item .thumbSetting .thumbTitle .spek_detail {
    margin: 0;
    padding: 0;
    height: 42px
}
.daftar_list_item .thumbSetting .thumbTitle .spek_detail p{
    color: #6D6E70;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
}
.daftar_list_item .thumbSetting .thumbTitle a {    
    font-family: 'Helvetica';
    line-height: 0px;
    font-size: 14px;
    text-decoration: underline;
    color: #00A0C6;
    text-transform: capitalize;
}
.daftar_list_item .thumbSetting .thumbPrice {
    display: block;
    min-height: 40px;
    width:145px;
    margin-right: 10px;
    padding: 21px 0;
}
.daftar_list_item .thumb_field {
    padding: 14px 24px;
}
.daftar_list_item .thumbSetting .thumbPrice .strike-through {
    color: #ED293C;
    text-decoration: line-through;
    font-size: 11px;
    float: left;
}

.daftar_list_item .thumbSetting .thumbPrice .disc {
    color: #ED293C;
    text-decoration: none;
    font-size: 11px;
}

.daftar_list_item .thumbSetting .thumbPrice span {
    font-weight: 700;
    font-size: 14px;
    color: #2AB573;
    padding-right: 8px;
    display: block;
}

.title_gambar{
    background: url('../img/title_gambar.jpg');
    min-width: 100%;
    height: 69px;
    margin-bottom: 5px;
}
.aside_header{

    height: 31px;
    padding-left: 20px;
}
.aside_header h3 {
    color: #fff;
    line-height: 32px;
}
.kategori ul.unstyled {

    -moz-box-shadow: 0 0 10px rgba(88, 89, 91, 0.3);
    -webkit-box-shadow: 0 0 10px rgba(88, 89, 91, 0.3);
    box-shadow: 0 0 10px rgba(88, 89, 91, 0.3);
    padding: 10px 25px;
    margin: 0px;

}
.kategori ul.unstyled li {
}
.kategori ul.unstyled li a {
    color: #000000;
    display: block;
    font-size: 10pt;
    padding: 5px;
}

.empty-content{
    background-color: #75C596;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.empty-content p{
    padding: 25px 20px;
    margin:0;
    text-align: center;
    font-family: Myriad Pro;
    font-size: 14pt;
    color:#008056;
}

.user_info{
    background: #EDEDED;
    height: 200px;
    padding: 20px;
}
.user_info .header{
    text-align: center;
    border-bottom: solid 1px #4C4C4C;
    margin-bottom: 10px;
}
.user_info ul.unstyled {
    padding: 0px;
    margin: 0px;

}
.user_info ul.unstyled li {
}
.user_info ul.unstyled li a {
    color:#000;
    font-weight: bold;
    padding: 6px 0 6px 0px;
    display: block;
}

#user_tab{
    width: 293px;
}

.bannerbot{
    margin: 40px 0;
}

.catatan_konfirmasi{
    background: #EDEDED;
    padding: 30px;
}

.catatan_konfirmasi p{
    text-align: justify;
}

#konfirmasi{
    margin-top: 20px;
    padding: 0 18px;
}

.artikel_item{
    list-style: none;
    margin: 30px 18px 0px 18px;
    padding: 0;
}

.artikel_item li {
    margin-top: 0px;
    float: left;
    min-height: 1px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.artikel_item li.first {
    margin-left: 0px;
}

.artikel_item .thumbnail {
    display: block;
    padding: 0px;
    border: 1px solid #DDDDDD;
    border-radius: 0;
    -moz-box-shadow: 0 0 10px rgba(88, 89, 91, 0.3);
    -webkit-box-shadow: 0 0 10px rgba(88, 89, 91, 0.3);
    box-shadow: 0 0 10px rgba(88, 89, 91, 0.3);
}

.artikel_item .thumbnail img {
    /*    min-width: 100%;
        min-height: 283px;
        max-height: 283px;*/
}

.artikel_item .thumbSetting {
    background: #F2F2F2;
    padding: 5px 8px;
    margin-top: 5px;
    -moz-box-shadow: 0 0 10px rgba(88, 89, 91, 0.3);
    -webkit-box-shadow: 0 0 10px rgba(88, 89, 91, 0.3);
    box-shadow: 0 0 10px rgba(88, 89, 91, 0.3);
}

.artikel_item .thumbSetting div {
    margin-top: 0px;
}

.artikel_item .thumbSetting .thumbTitle a {
    line-height: 0px;
    font-size: 12pt;
    font-weight: bold;
    color: #00ADEF;
    word-spacing: 0px;
}

.artikel_item .thumbSetting .thumbTitle p {
    color:#FEA520;
}

.artikel_item .thumbSetting .desc {
    display: block;
    min-height: 40px;
}

.artikel_item .thumbSetting .desc span {
    font-weight: 700;
    font-size: 10pt;
    color: #333333;
    padding-right: 8px;
    display: block;
}

.artikel_item .thumbSetting .desc p {
    font-size: 10pt;
    color: #333333;
    padding-right: 8px;
    display: block;
    text-align: justify;
}

.error {
    color: red;
    margin: 0;
}

#info_user a span{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    width: 60px;
    padding-left: 32px;
}

#dropdown_info{
    top: 23px;
    left: -54px;
}

#dropdown_info li {
    display: list-item;
    min-width: 0px; 
    font-weight: bold; 
    padding-top: 0px; 
    height: auto; 
    line-height: 0; 
    border-right: none;
}

#dropdown_info h4{
    text-align: center;
    border-bottom: 1px solid;
}

#dropdown_info li>a:hover, .dropdown-menu li>a:focus, .dropdown-submenu:hover>a {
    text-decoration: none;
    color: #ffffff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

#cart_info{
    background-color: #FFFFFF;
    border: medium none;
    border-radius: 0;
    left: -189px !important;
    padding: 20px;
    width: 326px;
}
#cart_info:before, #cart_info:after{
    content: none !important;
}

#cart_info h3{
    text-align: center;
    margin-bottom: 5px;
    color:#231F20;
    font-size:10pt;
}
#cart_info .cartsum{
    text-align: left;
    color:#8DC63F;
    text-transform: uppercase;
    font-size:14pt;
    margin-bottom: 10px;
    font-family: Myriad Pro;
}

#cart_info td{
    padding-bottom: 10px;
}
#cart_info .img {
    vertical-align: middle;
    width: 20%;
}
#cart_info .img img{
    text-align: right;
    border:1px solid #808285;	
}
#cart_info td h4{
    font-family: 'HelveticaRegular';
    font-size: 10pt;
    color: #00AEEF;
    line-height: 18px;
}
#cart_info .desc {
    vertical-align: middle;
    width: 40%;
}

#cart_info .price{
    vertical-align: middle;
    color: #6D6E71;
    font-size: 10pt;
    width: 40%;
    font-family: 'HelveticaRegular';
}

#cart_info .viewall{
    border-top:1px solid #939598;
    text-align: center;
    padding-top:10px;
}
#cart_info .viewall a{
    color: #fff;
    font-family: "Myriad Pro";
    font-weight: bold;
    font-style: italic;
    font-size: 13pt;
    padding: 8px 20px;
}

#tab_purchase{
    border: 1px solid #EDEDED;
}

#tab_purchase thead{
    border: none;
    background: none;
    color: #4EA0C9;
}

#tab_purchase tbody>tr:nth-child(odd)>td, #tab_purchase tbody>tr:nth-child(odd)>th {
    background-color: transparent;
}

#posting_project{
    margin-top: 40px;
    padding: 0 25px;
}

.splitter_line{
    border-bottom: 1px solid #ededed;
    margin-bottom: 20px;
    padding-top: 20px;
}

.file_project{
    color: transparent;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    font-size: 14px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-left: 20px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.fileUpload input.upload {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#file_text{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 90px;
}

.btn-abu {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #6D6D6D;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A0A0A0), to(#727272));
    background-image: -webkit-linear-gradient(top, #808080, #797979);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #ACACAC, #686868);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    border-color: #4E4E4E #4D4D4D #313131;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    /* width: 114px; */
}
.project-form label{
    color: #231F20 !important;
    width: 170px !important;
}
.project-form .controls input, .project-form .controls textarea {
    background-color: #F1F2F2;
    border: 2px solid #D1D3D4;
    border-radius: 0;
}
.project-form .control-group p{
    color: #231F20;
    font-family: "HelveticaRegular";
}
error_box {
    position: absolute;
    background: #F26665;
    border: 1px solid #F26665;
    margin-left: 10px;
    display: initial;
    padding: 4px;
    z-index: 101;
}
error_box:after, .error_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

error_box:after {
    border-color: rgba(213, 0, 0, 0);
    border-right-color: #F26665;
    border-width: 10px;
    margin-top: -10px;
}
error_box:before {
    border-color: rgba(245, 0, 0, 0);
    border-right-color: #F26665;
    border-width: 11px;
    margin-top: -11px;
}

error_box .error {
    color: white !important;
    font-family: "Myriad Pro";
    width: 250px !important;
    text-align: center;
}
error_box p{
    margin: 0;
}

form.form-horizontal#register .register_check{
    padding: 0 25px;
}

.error-top{
    background-color: #F26665;
    padding: 10px 20px;
    border-radius:4px; 
    margin-bottom: 30px;
}
.error-top span{
    color: #AF1116;
    font-family: 'Myriad pro';
    font-size: 10pt;
}
.error-top img{
    margin-right: 25px;
}

#purchase_detail{
    width: 386px;
}


.row-fluid .hProductItems li.first {
    margin-left: 0;
}

.hProductItems .thumbSetting span.desc{
    height: 28px;
}

.body{
    background: url('../img/body-bg.jpg');
    padding-bottom: 20px;
}

.container.padop{
    background: rgba(255, 255, 255, 0.7);
    padding: 20px 60px;
}

#crumbs.step ul li a{
    font-family: helvetica;
    font-weight: bold;
}

#crumbs ul li a.before {
    background: #D1D2D4;
}

#crumbs ul li a.before:after{
    border-left: 16px solid #D1D2D4;
}

#crumbs ul li a.before i{
    background: url('../img/gray_young.png') no-repeat 1px 45%;
    color: white;
    display: inline-block;
    font-style: normal;
    width: 15px;
    margin-right: 10px;
    font-size: 10px;
}

#crumbs ul li a.active i{
    background: url('../img/orange_flow.png') no-repeat 1px 45%;
    color: white;
    display: inline-block;
    font-style: normal;
    width: 17px;
    margin-right: 10px;
    font-size: 10px;
}

#crumbs ul li a.next i{
    background: url('../img/gray_flow.png') no-repeat 1px 45%;
    color: white;
    display: inline-block;
    font-style: normal;
    width: 17px;
    margin-right: 10px;
    font-size: 10px;
}

#keranjang{
    position: relative; 
    /*padding-bottom: 280px;*/
}

.icon-cuser{
    background: url('../img/icon-cuser.png');
    min-width: 18px;
    min-height: 16px;
    vertical-align: top;
}

.icon-chome{
    background: url('../img/icon-chome.png');
    min-width: 20px;
    min-height: 16px;
    vertical-align: top;
}
/*#keranjang{
    min-height: 290px;
}*/